/* Setting Default values */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

body{
    background-image: url("/Project/media/mtn.jpg");
    background-size: cover;
}

/*
    Header Section
*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 1em;
}
h2{
    font-size: 1em;
    font-size: 25px;
}


.head-item{
    margin: 0 20 0 20;
    height: 100px;
    width: 200px;
    color: black;
    text-decoration: none;
    font-size: 50px;
}

/*
    Body Section
*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country{
    margin: 15 0 15 0;
    height: 180px;
    width: 550px;
    background: rgb(0, 89, 73);
    position: relative;
}

.country-container{  
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.country-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.country-stats{
    text-align: center;
}

.country-name{
    font-size: 40px;
}

/*
    Container for the dropdown menu for each country
*/

.dropdown{
    display: none;
    margin-left: 20px;
    height: 0;
    width: 510px;
    background: rgb(17, 110, 93);
    justify-content: center;
}

.btn:hover{
    cursor: pointer;
}