*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

body{
    background-image: url("/Project/media/mtn.jpg");
    background-size: cover;
}

/*
    Header Section
*/

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 1em;
}

.head-item{
    margin: 0 20 0 20;
    height: 100px;
    width: 200px;
    color: black;
    text-decoration: none;
    font-size: 50px;
}

/*
    Skills body Section
*/

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.skill{
    height: 200px;
    width: 200px;
    background: rgb(76, 187, 207);
    text-decoration: none;
    margin: 30 30 30 30;
}

h1{
    margin-top: 150px;
    text-align: center;
    color: black;
}